doctype html
html(class='no-js' lang='en')

  head
    block head
      meta(charset='utf-8')
      title Museum App
      meta(name='viewport' content='width=device-width, initial-scale=1')
      meta(name='author' content='Robert Schaap')
      link(href='/css/normalize.css', rel='stylesheet', type='text/css')
      link(href='/css/stylesheet.css', rel='stylesheet', type='text/css')
      link(rel='appl-touch-icon' href='images/appl-touch-icon.png')
      link(rel='icon' type='image/png' href='images/favicon.png' sizes='32x32')

  body
    header(role='heading')
        h1 Museum App
        nav(role='navigation')
          block navigation
            a(href='/') Home
            a(href='/museums') Museums
            a(href='/artworks') Artworks

    block content

    footer(role='contentinfo')
      a(href='/admin') Admin
    script(src='https://code.jquery.com/jquery-3.2.1.js')
    script(type='text/javascript', src='/scripts/javascript.js')
